@font-face {
    font-family: 'Rokkitt';
    src: local('Rokkitt Light');
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16%;
    margin-top: 2.5%;
    background-color: #181818; 

}

.footer__elem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.footer__logo {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 5px;
    text-shadow: 0 0 15px #ffffff;
}

.footer__name {
    font-weight: 600;
    font-size: 18px;
}

.footer__line {
    width: 800px;
    height: 2px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 1px;
}

.footer__address {
    font-size: 16px;
}

.footer__socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 50%;
}

.text {
    margin-top: 10px;
    font-size: 14px;
}

.footer__copyright {
    color: #ffffff83;
    margin-top: 50px;
}

.onTop {
    position: absolute;
    left: auto;
    bottom: 15px;
    font-size: 50px;
    color: white;
    animation: appear 3s ease-in-out;
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}